# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore all google credential and token files
**/credentials.json
**/StoredCredential
operation_log.txt